.sidecar {
    @apply m-3;
    @apply text-sm;
    position: sticky;
    top: 20px;
}

.sidecar aside {
    @apply bg-card border border-border;
    @apply m-3;
    @apply p-3;
    @apply rounded-md;
}

.sidecar aside h2 {
    @apply text-md;
    @apply font-semibold;
    @apply border-b border-border;
    @apply pb-2 mb-3;
    @apply text-card-foreground;
    @apply font-mono;
}

.sidecar aside ul {
    padding-inline-start: 0;
    @apply list-none;
    @apply m-0;
    @apply list-outside;
}

.sidecar a {
    @apply text-card-foreground;
    @apply leading-8;
    @apply hover:text-primary;
    @apply transition-colors;
}

.sidecar a:hover {
    @apply underline;
}
