@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

body {
    color: rgb(var(--foreground-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

ul {
    @apply list-disc;
    @apply ps-4;
    display: block;
}

ol {
    @apply list-disc;
    @apply ps-4;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    list-style-type: decimal;
}

ul ul {
    list-style-type: circle;
}

ul ul ul {
    list-style-type: square;
}

ul ul ul ul {
    list-style-type: disc;
}

ol ol {
    list-style-type: upper-alpha;
}

ol ol ol {
    list-style-type: lower-alpha;
}

ol ol ol ol {
    list-style-type: lower-roman;
}
