---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'tale';

.embed-image-left {
    float:left;
    margin-right:10px;
    margin-bottom: 10px;
    margin-top: 5px;
}